{% for message in messages %}
<div class="message">
   <span>{{message}}</span>
   <i class="fas fa-times" onclick="this.parentElement.remove();"></i>
</div>
{% endfor %}
    
    <header class="header">

        <section class="flex">
     
           <a href={% url 'index'%} class="logo">LocalFixers<span>.</span></a>
     
           <nav class="navbar">
              <a href={% url 'index' %}>Home</a>
              <a href={% url 'about' %}>About</a>
              <a href={% url 'shop' %}>Services</a>
              <a href={% url 'contact' %}>Contact</a>
              <a href={% url 'splogin' %}>Service provider</a>
           </nav>
     
           <div class="icons">
              <div id="menu-btn" class="fas fa-bars"></div>
              <a href={% url 'search' %}><i class="fas fa-search"></i></a>
              <div id="user-btn" class="fas fa-user"></div>
           </div>
     
           <div class="profile">
            
         {% if user.is_authenticated %} 
              <a href="#" class="btn">{{ user.username }}</a>
              <a href={% url 'orders' %} class="btn">See Orders</a>
              <a href={% url 'logout' %} class="delete-btn" onclick="">logout</a>
         {% else %}
              <div class="flex-btn">
                 <a href={% url 'register' %} class="option-btn">register</a>
                 <a href={% url 'login' %} class="option-btn">login</a>
              </div>
         {% endif %}     
              
           </div>
     
        </section>
     
     </header>
